DIV.drag{
	background-color:#FFFFFF;
	border:1px solid #9ACC99;
	position:absolute;	
	cursor:default;
	z-index:3;
	margin:0;
}
DIV.dash{
	border: 2px dashed #A0A0A0;
	position:absolute;
	visibility:hidden;
}
DIV.dragHeader{
	width:100%; height:20px;line-height:20px; background-color:#CFDDBB; color:#676767; cursor:move;
}
SPAN.title,SPAN.min,SPAN.close{cursor:pointer;font-family:ו;color:#3366cc;font-size:15px;font-weight: bold;}
